body{
    background-color: black;
}

main{
    background-color: rgb(63, 17, 17);
    height: 1200px;
    width: 1300px;
    border-radius: 20px;
    margin: 50px auto;
}

h1{
    text-align: center;
    color: white;
}

iframe{
    margin: 20px 40px;
}

.back{
    background-color: white;
    padding: 5px;
    margin: 100px;
    font-size: 1.5em;
    color: blue;
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
}

@media screen and (max-width: 560px ) {
    main{
        height: 1250px;
        width: 95%;
        margin: 5% auto;
    }
    
    iframe{
        width: 40%;
        margin: 4.5%;
    }
    
    .back{
        padding: 5px;
        margin: 3%;
        font-size: 1em;
    }
}