body{
    background-color: black;
    color: white;
}

header{
    position: sticky;
    top: 0;
    background: rgb(63, 17, 17);
    padding: 10px;
    height: 180px;
    border-radius: 10px;
}

.cabecalho{
    width: 1200px;
    display: block;
    margin: 0 auto;
    align-items: center;
}

.cabecalho img{
    width: 250px;
    margin: 0 10px;
}

.cabecalho ul{
    vertical-align: middle;
    display: flex;
    padding: 10px;
}

.cabecalho ul li{
    margin: 10px 5%;
}

.cabecalho ul li:last-child{
    margin-right: 0;
}

.cabecalho a{
    text-decoration: none;
    font-size: 1.3em;
    color: white;
    font-weight: bold;
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(102, 15, 15);
}

#Logo{

    width: 250px;
    border: none;
    background-color: rgb(63, 17, 17);
    padding: 10px;
}

main{
    background-color: black;
    padding: 20px;
}

.apresentacao{
    border:
    1px solid black;
    border-radius: 20px;
    background-color: rgb(63, 17, 17);
}

.banner{
    margin: 20px 250px;
    width: 60%;
}

h1{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px auto;
}

h2, h3, h4{
    font-size: 1.5em;
    font-weight: bold;
    margin: 30px;
}

.recomendado{
    width: 30%;
    border-radius: 20px;
    margin: 0 15px;
}

.populares{
    width: 30%;
    height: 200px;
    border-radius: 20px;
    margin: 0 15px;
}

footer{
    background: rgb(63, 17, 17);
    text-align: center;
    font-size: 1.5em;
    padding: 100px;
    margin: 0 auto;
}

@media screen and (max-width: 560px ) {   
    header{
        width: 99%;
        padding: 0.5%;
        height: 5%;
        border-radius: 10px;
    }
    
    .cabecalho{
        width: 100%;
    }
    
    .cabecalho img{
        width: 30%;
        margin: 4% 2% 0 2%;
    }
    
    .cabecalho ul{
        padding: 3%;
    }
    
    .cabecalho ul li{
        margin: 2% 0.15em;
    }
    
    .cabecalho ul li:last-child{
        margin-right: 0;
    }
    
    .cabecalho a{
        font-size: 1em;
        padding: 0.35em;
        border-radius: 10px;
    }
    
    #Logo{   
        width: 30%;
        padding: 10px;
    }

    main{
        margin: 0;
        padding: 0;
    }

    .apresentacao{
        margin: 5%;
        width: 90%;
    }
    
    .banner{
        margin: 5%;
        padding: 5%;
        width: 80%;
    }
    
    h1{
        font-size: 1em;
        margin-bottom: 5%;
    }
    
    h2, h3, h4{
        font-size: 0.75em;
        margin: 3%;
    }
    
    .recomendado{
        width: 25%;
        border-radius: 20px;
        margin-left: 0 0.5%;
        margin-right: 0;
    }
    
    .populares{
        width: 25%;
        height: 6%;
        border-radius: 20px;
        margin-left: 0 0.5%;
        margin-right: 0;
    }
    
    footer{
        font-size: 0.75em;
        width: 100%;
        padding: 5% 0;
        margin: 0 auto;
    }
}